.card {
  width: 55%;
}

.icon-custom {
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
  background-size: 20px;
}


.btn-custom:hover {
  font-weight: bold;
}

@media (max-width: 768px) {

  .text-center-md-4 {
    text-align: center;
  }

}