<section>
  <div class="row vstack gap-3">
    <div class="d-flex justify-content-end gap-1 align-items-center">
      <label for="numPages" class="mx-3">Nombre de pàgines</label>
      <button type="button" (click)="decrementPages()"><i class="bi bi-dash-circle"></i></button>
      <input type="number" id="numPages" class="rounded costume-input text-center" [value]="counterSignalPages()" readonly>
      <button type="button" (click)="incrementPages()"><i class="bi bi-plus-circle"></i></button>
    </div>
    <div class="d-flex justify-content-end gap-1 align-items-center">
      <label for="numLanguages" class="mx-3">Nombre de llenguatges</label>
      <button type="button" (click)="decrementLanguages()"><i class="bi bi-dash-circle"></i></button>
      <input type="number" id="numLanguages" class="rounded costume-input text-center" [value]="counterSignalLanguages()" readonly>
      <button type="button" (click)="incrementLanguages()"><i class="bi bi-plus-circle"></i></button>
    </div>
  </div>
</section>
